@*@{
    Layout = ""; colocar outro layout
}*@
Olá!

<h1 class="text-md-center">@ViewData["Message"]</h1>
<h1 class="text-md-center">@ViewData["Horario"]</h1>
@*Html.Raw() é inseguro para manipulação de dados do banco, possível brecha para XSS, necessário fazer Encode*@


<button id="toggleSection">Toggle Seção</button>

<div id="retratilSection">
    <p>Conteúdo da seção retrátil...</p>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#toggleSection").click(function () {
                $("#retratilSection").slideToggle();
            });
        });
    </script>
}