@*@{
    Layout = ""; colocar outro layout
}*@
Olá!

<h1 class="text-md-center">@ViewData["Message"]</h1>

@*Html.Raw() é inseguro para manipulação de dados do banco, possível brecha para XSS, necessário fazer Encode*@