@using AppSemTemplate.Services

@inject OperacaoService operacao

<div>
    <p>
        @Html.Raw(//Raw - ecreve exatamente aquilo que estou fornecendo, um HTML por exemplos
        operacao.Transient.OperacaoId + "<br>" +
        operacao.Scoped.OperacaoId + "<br>" +
        operacao.Singleton.OperacaoId + "<br>" +
        operacao.SingletonInstance.OperacaoId + "<br>"
        )
    </p>
</div>